main {
    margin-bottom: 20px;
    width: 100%;
}

h2 {
    font-size: 72px;
    color: white;
}

#books {
    position: relative;
    margin: 0 auto;
    max-width: 980px;
}

#books ul {
    /* 980/1473 */
    padding-top: 150%;
}

#books a {
    display: block;
    line-height: 0;
    font-size: 0;
}

#books li {
    position: absolute;
    top: 0;
    left: 0;
    height: auto;
    display: block;
    filter: drop-shadow(0 5px 5px #000);
    transition: all 0.3s ease;

}

#books li:hover {
    filter: drop-shadow(0 3px 5px #000) brightness(1.2);
    transform: none;
}

#books li a {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;
}

img {
    width: 100%;
    height: auto;
}

#books .rust-0-to-pro {
    z-index: 4;
    width: 22%;
    left: 5%;
    top: 2.6%;
    transform: rotate(3.5deg);
}

#books .rust-0-to-pro a {
    padding-top: 153.5%;
    background-image: url(/static/img/rust.jpg);
}

#books .hackers-delight {
    z-index: 2;
    width: 21%;
    left: 27.5%;
    top: 0.5%;
    transform: rotate(-1.5deg);
}

#books .hackers-delight a {
    padding-top: 153.7%;
    background-image: url(/static/img/hackersdelight.png);
}

#books .algorithms {
    z-index: 1;
    width: 24.9%;
    left: 49%;
    top: 4%;
    transform: rotate(5deg);
}

#books .algorithms a {
    /* 300/200 */
    padding-top: 132.7%;
    background-image: url(/static/img/algorithms.jpg);
}

#books .ennui {
    z-index: 12;
    width: 21%;
    left: 73.4%;
    top: 2.1%;
    transform: rotate(-6deg);
}

#books .ennui a {
    /* 300/200 */
    padding-top: 154.1%;
    background-image: url(/static/img/ennui.jpg);
}

#books .artofwar {
    z-index: 3;
    width: 24.8%;
    left: 3%;
    top: 24.5%;
    transform: rotate(-8.4deg);
}

#books .artofwar a {
    /* 300/200 */
    padding-top: 130.5%;
    background-image: url(/static/img/artofwar.jpg);
}

#books .nomouth {
    z-index: 5;
    width: 24.5%;
    left: 26%;
    top: 21.5%;
    transform: rotate(5deg);
}

#books .nomouth a {
    /* 300/200 */
    padding-top: 137.9%;
    background-image: url(/static/img/nomouth.jpg);
}

#books .dante {
    z-index: 15;
    width: 27.5%;
    left: 44%;
    top: 25.9%;
    transform: rotate(-5.5deg);
}

#books .dante a {
    padding-top: 126.7%;
    background-image: url(/static/img/dante.jpg);
}

#books .cracking {
    z-index: 14;
    width: 25.2%;
    left: 70.5%;
    top: 23.2%;
    transform: rotate(7.5deg);
}

#books .cracking a {
    padding-top: 134.4%;
    background-image: url(/static/img/cracking.jpg);
}

.wrapper {
    margin-top: 120px;
    margin-bottom: 20px;
    max-width: 100%;
    overflow: hidden;
}

.scroll-text {
    font-family: JetBrains Mono;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    animation: scroll-text 10s linear infinite;
}

.scroll-text h2 {
    display: inline-block;
    padding-left: 30px;
}

@keyframes scroll-text {
    0% { transform: translate3d(0, 0, 0); }
    100% { transform: translate3d(-50%, 0, 0); }
}
