<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Books50 | Login</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet"  type="text/css" href="{{url_for('.static', filename='login.css')}}">
    </head>
    <body>
        <div class="img">
            <div>
                <img src="{{ url_for('static', filename='placeholder.jpg') }}" alt="">
                <img src="{{ url_for('static', filename='placeholder.jpg') }}" alt="">
                <img src="{{ url_for('static', filename='placeholder.jpg') }}" alt="">
                <img src="{{ url_for('static', filename='placeholder.jpg') }}" alt="">
                <img src="{{ url_for('static', filename='placeholder.jpg') }}" alt="">
                <img src="{{ url_for('static', filename='placeholder.jpg') }}" alt="">
            </div>
            <div id="second-row">
                <img src="{{ url_for('static', filename='placeholder.jpg') }}" alt="">
                <img src="{{ url_for('static', filename='placeholder.jpg') }}" alt="">
                <img src="{{ url_for('static', filename='placeholder.jpg') }}" alt="">
                <img src="{{ url_for('static', filename='placeholder.jpg') }}" alt="">
                <img src="{{ url_for('static', filename='placeholder.jpg') }}" alt="">
                <img src="{{ url_for('static', filename='placeholder.jpg') }}" alt="">
            </div>
            <div id="third-row">
                <img src="{{ url_for('static', filename='placeholder.jpg') }}" alt="">
                <img src="{{ url_for('static', filename='placeholder.jpg') }}" alt="">
                <img src="{{ url_for('static', filename='placeholder.jpg') }}" alt="">
                <img src="{{ url_for('static', filename='placeholder.jpg') }}" alt="">
                <img src="{{ url_for('static', filename='placeholder.jpg') }}" alt="">
                <img src="{{ url_for('static', filename='placeholder.jpg') }}" alt="">
            </div>
        </div>
        <div class="login-section">
            <form action="">
                <h1>Books<span>50</span></h1>
                <input type="text" placeholder="Email or phone number"> <br>
                <input type="password" placeholder="Password"> <br>
                <button>Sign In</button>
            </form>
        </div>
    </body>
</html>
